To trigger an error in the computed signal, enter a value that results in a
modulo 2 equal to 0.

<ul>
  <li>
    Behaviour without `provideErrorHandler()` : if we enter an invalid value
    (i.e. 1), the error will be shown in the console at each click (at each
    changeDetection)
  </li>
  <li>
    Behaviour with `provideErrorHandler()` : if we enter an invalid value (i.e.
    1), the error will be shown in the console once. The subsequent click will
    not trigger the error
  </li>
</ul>

<div>
  <input type="number" [(ngModel)]="value" />

  <button (click)="clickMe()">Click Me</button>
</div>

<div>Result: {{ computedValue() }}</div>
